body {
background: #A3A3A3; }

p#topbar {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 10px; }

form {
	width: 775px;
	margin: auto;
	margin-top: 10%; }
	
	form fieldset {
		box-shadow: 5px 5px 5px #888;
		-webkit-box-shadow: 5px 5px 5px #666;
		-moz-box-shadow: 5px 5px 5px #666;
		border-radius: 5px;
		-moz-border-radius: 5px; }
		
		form fieldset legend {
			text-shadow: 1px 1px 1px #999;
			border-radius: 5px;
			-moz-border-radius: 5px;
			padding: 2px; }
	
	form label {
		display:inline-block;
		color: #444;
		padding-top: 10px; }
	
	form input:focus {
		-webkit-box-shadow: 2px 2px 5px #666; }
	
	form input[type="text"], form input[type="password"] {
		border-radius: 3px;
		-moz-border-radius: 3px;
	}
	
	form input[type="submit"] {
		margin-top: 15px;
	}
	
	form p.formsubnote {
		text-align: right;
		margin: 0;
		padding: 0;
		font-style:italic;
		color: #666; }

	form p.submit {
		text-align: center;
		margin-bottom: 0; }
	
	form p.formfooter {
		margin: 0;
		padding: 0;
		text-align: right; }
	
	form a {
		padding: 3px;
		border-radius: 2px;
		-moz-border-radius: 2px;
	}
	
	form a:link {
		-webkit-transition: background 0.3s;
	}